@model List<AgataKondraczykLab5.Models.Pizza>
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

@Html.ActionLink("Dodaj pizze", "Add", null, new {@class = "btn btn-success"})

<table class="table table-striped">
    <thead>
    <tr>
        <th>Lp.</th>
        <th>Nazwa</th>
        <th>Skldniki</th>
        <th colspan="2">Akcje</th>
        <th><input type="submit" value="Koszyk" onclick="location.href = '@Url.Action("AddToCart")'" class="btn btn-primary"/></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var pizza in Model)
    {
        <tr>
            <td>@pizza.Id</td>
            <td>@pizza.Name</td>
            <td>@pizza.Ingredients</td>
            <td>@Html.ActionLink("Edytuj", "Edit", new {id = pizza.Id}, new {@class = "btn btn-primary"})
                <input type="button" value="Usuń" onclick="location.href = '@Url.Action("Delete", "Pizza", new {id = pizza.Id})'" class="btn btn-primary"/></td>
            <td><input type="checkbox" name="selectedPizzas" value="@pizza.Id"/></td>
            @*<td><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-saved">Usuń</span></button></td>*@
            @*<td>@using (@Html.BeginForm()
        )</ td >*@
        </tr>
    }
    </tbody>
</table>